<launch>

<!-- MAP PATH-->
    <arg name="map_file" value="/home/cata/hsr_ws2/src/go_to_x/map_tests/my_hw_map_changed.yaml"></arg>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"></node>

<!-- search map goals set service-->
    <node pkg="go_to_x" type="search_map.py" name="search_map_service" output="screen"> </node>

<!-- search map python file for launching service and move action-->
    <node pkg="go_to_x" type="search_map.py" name="search_map" output="screen"> </node>
</launch>
